@model IEnumerable<Sem2Lab1SQLServer.Models.User>
@{
    ViewData["Title"] = "UserList";
}

<h1>Список користувачів</h1>

<table class="table">
    @foreach (var user in Model)
    {
        var targetId = "#modal" + user.Id;
        var modalId = "modal" + user.Id;
        <tr>
            <td>@user.Email</td>
            <td>
                @if (!user.Email.Equals(User.Identity.Name))
                {
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступу</a>
                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="@targetId">
                        Видалити
                    </button>
                    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Попередження</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body delete-modal-body">
                                    Ви впевнені, що хочете видалити цей обліковий запис?
                                </div>
                                <div class="modal-footer">
                                    <form asp-action="DeleteUser" asp-route-userId="@user.Id" method="post">
                                        <button type="submit" class="btn btn-danger">Так</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ні</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div>Поточний адміністратор</div>
                }
            </td>
        </tr>
    }
</table>