@model IEnumerable<Sem2Lab1SQLServer.Publications>

@{
    ViewData["Title"] = "Index";
}

<h1>Публікації видаництва @ViewBag.PubName</h1>

    <p>
        <a asp-action="Index" asp-controller="Publishers" class="btn btn-outline-dark">Повернутися до списку видавництв</a>
        <a asp-action="Index" asp-controller="Publications" class="btn btn-outline-dark">Перейти до списку публікацій</a>
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>Керування</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Contacts)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PublicationId" class="btn btn-outline-info">Деталі про гру</a>
            </td>
        </tr>
}
    </tbody>
</table>
