@model IEnumerable<Sem2Lab1SQLServer.Ratings>

@{
    ViewData["Title"] = "Index";
}

<h1>Оцінки гри @ViewBag.GameName</h1>

<p>
    <a asp-action="Index" asp-controller="Games" class="btn btn-outline-dark">Повернутися до ігор</a>
    <a asp-action="Index" asp-controller="Ratings" class="btn btn-outline-dark">Перейти до рейтингу</a>
    <a asp-action="Export" asp-route-id="@ViewBag.GameId" asp-route-name="@ViewBag.GameName" class="btn btn-outline-dark">Завантажити інформацію</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Critic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>Керування</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Critic.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.RatingId" class="btn btn-outline-info">Деталі про критика</a>
            </td>
        </tr>
}
    </tbody>
</table>
