@model IEnumerable<Sem2Lab1SQLServer.Developers>

@{
    ViewData["Title"] = "Index";
}

<h1>Інформація про розробника</h1>

<p>
    <a asp-action="Index" asp-controller="Games" class="btn btn-outline-dark">Повернутися до списку ігор</a>
    <a asp-action="Index" asp-controller="Developers" class="btn btn-outline-dark">Перейти до списку розробників</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkersNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>Керування</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkersNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.DeveloperId" class="btn btn-outline-info">Детальніше про країну</a>
            </td>
        </tr>
}
    </tbody>
</table>
